/*? ┌──────────────────CP────────────────────┐ */

:root {

  /*? ➞➞➞➞➞ gradients ➞➞➞➞➞ */
  
  --gradient-1: linear-gradient(rgb(0,0,0), rgb(58,58,58));
  --gradient-1-inv: linear-gradient(rgb(58,58,58), rgb(0,0,0));
  --gradient-1-inv-50: linear-gradient(rgba(58,58,58,.5), rgba(0,0,0,.5));
  --gradient-1-50: linear-gradient(rgba(0,0,0,.5), rgba(58,58,58,.5));
  --gradient-2: linear-gradient(rgb(0,0,0), rgb(58,58,58), rgb(0,0,0));
  --gradient-2-50: linear-gradient(rgba(0,0,0,.5), rgba(58,58,58,.5), rgba(0,0,0,.5));
}

/*? └────────────────────────────────────────┘ */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-decoration: none;
}

body {
  margin: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/*? ┌─────────────Layout───────────────┐ */

.gc {
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr) 20%;
  grid-template-rows: 15% repeat(2, 1fr) 15%;
  grid-template-areas: 
  "header header header header"
  "_left c-1 c-2 _right"
  "_left c-3 c-4 _right"
  "footer footer footer footer";
}

.header {grid-area: header;}
._left {grid-area: _left;}
.c-1 {grid-area: c-1;}
.c-2 {grid-area: c-2;}
.c-3 {grid-area: c-3;}
.c-4 {grid-area: c-4;}
._right {grid-area: _right;}
.footer {grid-area: footer;}

.header,
._left,
.c-1,
.c-2,
.c-3,
.c-4,
._right,
.footer {
  position: relative;
  overflow: hidden;
}

/*? └───────────────────────────────────┘ */

/** -> int <- */

.int {
  position: absolute;
  width: 40%;
  height: 50%;
  border: 1px solid grey;
}

/*? ┌──────────────Menus────────────────┐ */

/*┌──────Menu1───────┐ 
  └──────────────────┘*/

.menu1 {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 50%;
  transform: translate(0, -50%);
  background-image: var(--gradient-2-50);
  padding: 0.3rem;
  border-radius: 2rem;
  border: 1px solid grey;
}

.menu1-cont {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 1.7rem;
  background-image: var(--gradient-1-inv-50);
}

.menu1-links {
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  border-radius: 1.3rem;
}

.menu1__link {
  color: grey;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  background-color: black;
  transition: filter 500ms ease-in-out,
  color 500ms ease-in-out;
}

.menu1__link:nth-child(1) {border-radius: 1rem 1rem 0 0;}
.menu1__link:nth-child(10) {border-radius: 0 0 1rem 1rem;}

.menu1__link img {
  display: inline-block;
  margin: 0.2rem 3rem 0.2rem 1rem;
}

.menu1__link:hover {
  filter: invert(1);
  color: white;
}

/*┌──────Menu2───────┐ 
  └──────────────────┘*/

  .menu2 {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 80%;
    height: 50%;
    background-image: var(--gradient-2-50);
    border-radius: 1.5rem;
  }

  .menu2-cont,
  .menu2-links {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    border-radius: 1.3rem;
  }

  .menu2-links {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
  }

  .menu2__link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: 1px solid grey;
    color: grey;
    background-color: black;
    transition: filter 600ms ease-in-out;
  }

  .menu2__link img {
    margin: 0 0.5rem;
  }

  .menu2__link:nth-child(1) {
    border-radius: 1rem 1rem 0 0;
  }

  .menu2__link:nth-child(5) {
    border-radius: 0 0 1rem 1rem;
  }

  .menu2__link:hover {filter: invert(1);}

  /*┌──────Menu3───────┐ 
    └──────────────────┘*/

  .menu3 {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: var(--gradient-2);
    border-radius: 1.7rem;
  }

  .menu3-cont,
  .menu3-links {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    border: 1px solid grey;
    border-radius: 1.3rem;
  }

  .menu3-links {
    display: flex;
    flex-direction: column;
    background-color: grey;
  }

  .menu3__link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: black;
    border: 1px solid grey;
    color: grey;
    transition: filter 500ms ease-in-out;
  }

  .menu3__link:nth-child(1) {border-radius: 1rem 1rem 0 0;}
  .menu3__link:nth-child(5) {border-radius: 0 0 1rem 1rem;}

  .menu3__link:hover {filter: invert(1);}

  .menu3__link img {
    display: inline-block;
    margin: 0 2rem 0 1rem;
  }

/*┌──────Menu4───────┐ 
  └──────────────────┘*/

  .menu4 {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 80%;
    height: 80%;
  }

  .menu4-cont,
  .menu4-links {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
  }

  .menu4-cont {
    background-image: var(--gradient-1-inv-50);
    border: 1px solid grey;
    border-radius: 1.7rem;
  }

  .menu4-links {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 1.3rem;
  }

  .menu4__link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: black;
    border: 1px solid grey;
    color: grey;
    transition: filter 500ms ease-in-out;
  }

  .menu4__link img {
    display: inline-block;
    margin: 0 1.5rem 0 1rem;
  }

  .menu4__link:nth-child(1) {border-radius: 1rem 1rem 0 0;}
  .menu4__link:nth-child(5) {border-radius: 0 0 1rem 1rem;}

  .menu4__link:hover {filter: invert(1);}

/*? └────────────────────────────────────┘ */

/** ┌────────────────────────────────────┐ */

/*┌─────────────────Header──────────────────┐ 
  └─────────────────────────────────────────┘*/

.header {
    background-image: var(--gradient-1-inv);
}

/*? ┌─────int───────┐ */

.header .int:nth-child(1) {
  width: 100%;
  height: 50%;
  bottom: 0;
}

.header .int:nth-child(2) {
  left: 50%;
  transform: translate(-50%, 10%);
  width: 50%;
  height: 200%;
  border-radius: 7rem;
  background-image: var(--gradient-1-inv);
}

.header .int:nth-child(3) {
  left: -5%;
  width: 12%;
  height: 100%;
  background-image: var(--gradient-1);
  transform: skew(45deg);
}

.header .int:nth-child(4) {
  right: -5%;
  width: 12%;
  height: 100%;
  background-image: var(--gradient-1);
  transform: skew(-45deg);
}

.header .int:nth-child(5) {
  width: 10%;
  height: 25%;
  left: 12%;
  top: 37%;
  border-radius: 1.5rem;
  background-image: var(--gradient-1);
}

.header .int:nth-child(6) {
  width: 10%;
  height: 25%;
  right: 12%;
  top: 37%;
  border-radius: 1.5rem;
  background-image: var(--gradient-1);
}

.header .int:nth-child(7) {
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2rem;
  top: -35%;
  background-image: var(--gradient-1);
}

/*? └───────────────┘ */

/*┌───────────────────L─────────────────────┐ 
  └─────────────────────────────────────────┘*/

._left {
  background-image: var(--gradient-1);
}

/** -> Menu1 <- */

.menu1:nth-child(1) {
  left: -90%;
  transition: left 500ms ease-in-out;
}

.menu1:nth-child(1):hover {left: -5%;}

.menu1:nth-child(2) {
  right: -90%;
  transition: right 500ms ease-in-out;
}

.menu1:nth-child(2):hover {right: -5%;}

/** -> Menu2 <- */

.menu2:nth-child(3) {
  top: -46%;
  transition: top 500ms ease-in-out;
}

.menu2:nth-child(3):hover {
  top: 0;
}

.menu2:nth-child(4) {
  bottom: -46%;
  transition: bottom 500ms ease-in-out;
}

.menu2:nth-child(4):hover {
  bottom: 0;
}

/*┌──────────────────c-1────────────────────┐ 
  └─────────────────────────────────────────┘*/

.c-1 {
  background-image: var(--gradient-1);
}

/** -> Menu3 <- */

/* [L] */

.c-1 .menu3:nth-child(1) {
  left: -45%;
  transition: left 500ms ease-in-out;
}

.c-1 .menu3:nth-child(1):hover {left: 0;}

/* [R] */

.c-1 .menu3:nth-child(2) {
  right: -45%;
  transition: right 500ms ease-in-out;
}

.c-1 .menu3:nth-child(2):hover {right: 0;}

/** -> Menu4 <- */

.menu4:nth-child(3) {
  top: -73%;
  transition: top 500ms ease-in-out;
}

.menu4:nth-child(3):hover {top: 0;}

.menu4:nth-child(4) {
  bottom: -73%;
  transition: bottom 500ms ease-in-out;
}

.menu4:nth-child(4):hover {bottom: 0;}

/*┌──────────────────c-2────────────────────┐ 
  └─────────────────────────────────────────┘*/

.c-2 {
  background-image: var(--gradient-1);
}

/* [L] */

.c-2 .menu3:nth-child(1) {
  left: -45%;
  transition: left 500ms ease-in-out;
}

.c-2 .menu3:nth-child(1):hover {left: 0;}

/* [R] */

.c-2 .menu3:nth-child(2) {
  right: -45%;
  transition: right 500ms ease-in-out;
}

.c-2 .menu3:nth-child(2):hover {right: 0;}

/*┌──────────────────c-3────────────────────┐ 
  └─────────────────────────────────────────┘*/

.c-3 {
  background-image: var(--gradient-1);
}

/* [L] */

.c-3 .menu3:nth-child(1) {
  left: -45%;
  transition: left 500ms ease-in-out;
}

.c-3 .menu3:nth-child(1):hover {left: 0;}

/* [R] */

.c-3 .menu3:nth-child(2) {
  right: -45%;
  transition: right 500ms ease-in-out;
}

.c-3 .menu3:nth-child(2):hover {right: 0;}

/*┌──────────────────c-4────────────────────┐ 
  └─────────────────────────────────────────┘*/

.c-4 {
  background-image: var(--gradient-1);
}

/* [L] */

.c-4 .menu3:nth-child(1) {
  left: -45%;
  transition: left 500ms ease-in-out;
}

.c-4 .menu3:nth-child(1):hover {left: 0;}

/* [R] */

.c-4 .menu3:nth-child(2) {
  right: -45%;
  transition: right 500ms ease-in-out;
}

.c-4 .menu3:nth-child(2):hover {right: 0;}

/*┌────────────────────R────────────────────┐ 
  └─────────────────────────────────────────┘*/

._right {
  background-image: var(--gradient-1);
}

/** -> Menu1 <- */

.menu1:nth-child(1) {
  left: -90%;
  transition: left 500ms ease-in-out;
}

.menu1:nth-child(1):hover {left: -5%;}

.menu1:nth-child(2) {
  right: -90%;
  transition: right 500ms ease-in-out;
}

.menu1:nth-child(2):hover {right: -5%;}

/*┌─────────────────Footer──────────────────┐ 
  └─────────────────────────────────────────┘*/

  .footer {
    background-image: var(--gradient-1-inv);
  }

  /*? ┌─────int───────┐ */

  .footer .int:nth-child(1) {
    width: 100%;
    height: 50%;
  }

  .footer .int:nth-child(2) {
    left: 50%;
    transform: translate(-50%, -60%);
    width: 50%;
    height: 200%;
    border-radius: 7rem;
    background-image: var(--gradient-1);
  }

  .footer .int:nth-child(3) {
    left: -5%;
    width: 12%;
    height: 100%;
    background-image: var(--gradient-1);
    transform: skew(-45deg);
  }
  
  .footer .int:nth-child(4) {
    right: -5%;
    width: 12%;
    height: 100%;
    background-image: var(--gradient-1);
    transform: skew(45deg);
  }

  .footer .int:nth-child(5) {
    width: 10%;
    height: 25%;
    left: 12%;
    top: 37%;
    border-radius: 1.5rem;
    background-image: var(--gradient-1);
  }
  
  .footer .int:nth-child(6) {
    width: 10%;
    height: 25%;
    right: 12%;
    top: 37%;
    border-radius: 1.5rem;
    background-image: var(--gradient-1);
  }

  .footer .int:nth-child(7) {
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 2rem;
    bottom: -35%;
    background-image: var(--gradient-1-inv);
  }

  /*? └───────────────┘ */

/** └─────────────────────────────────────┘ */